__pycache__/
.pyc
testset/David.mp4
testset/TMU.mp4
testset/glaze.mp4
testset/trim2.mp4
testset/sinavharris.MOV
testset/me.mov
testset/me.mp4
testset/IMG_1929.mov
testset/demo1.mov
testset/343.MOV
testset/4k.mp4
testset/lay.MOV
testset/testm.mov
testset/bonus.mp4
testset/simon.mp4
testset/trim4.mp4
