__pycache__/
.pyc
nbaction-cps843.v2i.yolov8/
nbaction-V4/
nbactionV5/
testset/David.mp4
testset/TMU.mp4
testset/glaze.mp4
testset/trim2.mp4
testset/sinavharris.MOV
testset/me.mov
testset/me.mp4
testset/IMG_1929.mov
testset/demo1.mov
testset/343.MOV
testset/4k.mp4
testset/lay.MOV
testset/testm.mov
